@model TARge21Shop.Models.Weather.WeatherViewModel

<h1>City</h1>

<div class="container">
    <h2>Forecast for the selected city</h2>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Date" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Date)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="EpochDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.EpochDate)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="Severity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Severity)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="Text" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Text)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="MobileLink" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.MobileLink)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="Link" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Link)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="Category" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Category)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="TempMinValue" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMinValue)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="TempMinUnit" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMinUnit)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="TempMinUnitType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMinUnitType)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="TempMaxValue" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMaxValue)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="TempMaxUnit" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMaxUnit)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="TempMaxUnitType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMaxUnitType)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="DayIcon" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.DayIcon)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="DayIconPhrase" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.DayIconPhrase)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="DayHasPercipitation" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.DayHasPercipitation)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="DayPrecipitationType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.DayPrecipitationType)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="DayPrecipitationIntensity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.DayPrecipitationIntensity)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="NightIcon" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.NightIcon)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="NightIconPhrase" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.NightIconPhrase)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="NightHasPrecipitation" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.NightHasPrecipitation)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="NightPrecipitationType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.NightPrecipitationType)
        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="NightPrecipitationIntensity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.NightPrecipitationIntensity)
        </div>
        <hr />

    </dl>
</div>